<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/monkey.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <script src="./flexible.min.js"></script>
  <title>可恶的砂糖</title>
  <meta name="description" content="松坂砂糖个人小站,松坂砂糖,可恶的砂糖,可恶的松坂砂糖">
  <meta name="keyword" content="松坂砂糖个人小站,松坂砂糖,可恶的砂糖,可恶的松坂砂糖">
</head>
<style>
  .h1 h1,
  .h1 h2,
  .h1 h3,
  .h1 h4,
  .h1 h5,
  .h1 h6,
  .h1 img {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
</style>

<body>
   <div class="h1">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的砂糖1</h1>
    <h2>可恶的砂糖2</h2>
    <h3>可恶的砂糖3</h3>
    <h4>可恶的砂糖4</h4>
    <h5>可恶的砂糖5</h5>
    <h6>可恶的砂糖6</h6>
    <img src="" alt="可恶的砂糖">
    <h1>可恶的松坂砂糖1</h1>
    <h2>可恶的松坂砂糖2</h2>
    <h3>可恶的松坂砂糖3</h3>
    <h4>可恶的松坂砂糖4</h4>
    <h5>可恶的松坂砂糖5</h5>
    <h6>可恶的松坂砂糖6</h6>
    <img src="" alt="可恶的松坂砂糖">
  </div>
  <div class="kaipingdonghua">
    <span></span>
    <div>点击任意处跳过动画</div>
  </div>

  <div class="main">
    <div class="Maintop">
      <div class="left"><i class="iconfont icon-gengduo-03"></i></div>
      <div class="center"><span id="site_runtime">松坂砂糖</span></div>
      <div class="right"><i class="iconfont icon-gengduo-02"></i></div>
    </div>
    <div class="Center">

      <div class="bottomAsex"></div>
      <h2>猴子排序：</h2>
      <h4>随机排序一组数字，如果不是预期的排序结果，则再次重新排序。次数越小运气越好</h4>
      <h5>当前排列数字的个数为：</h5>
      <input type="number" class="siptAndBtn" placeholder="自定义排列个数，个数越多时间越久">
      <button class="siptAndBtn">确定</button>
      <button class="siptAndBtn" id="ce">点击测试</button>
      <h3>结果: 暂未测试</h3>

      <h5 id="a">5位的平均次数为：600次</h5>
      <h5 id="a">6位的平均次数为：4300次</h5>
      <h5 id="a">7位的平均次数为：35000次</h5>
      <h5 id="a">8位的平均次数为：325000次</h5>
      <h5 id="a">9位的平均次数为：3300000次</h5>
      <h5 id="a">....</h5>

    </div>
    <div class="LeftMenu">
      <div class="top">
        <div class="img"><img src="./2365999861.png" alt=""></div>
        <div class="userName">
          <span>松坂砂糖</span><br>
          <span style="font-size: 12px;">你所讨厌的就是你的生活</span>
        </div>
      </div>
      <div class="center">
        <ul>
          <li><i class="iconfont icon-shouyemoban"></i>使用教程</li>
          <li><i class="iconfont icon-tianjiayonghu"></i>联系作者</li>
          <li><i class="iconfont icon-QQ"></i>加入群聊</li>
          <li><i class="iconfont icon-zuzhi-03"></i>抓包工具</li>
          <li><i class="iconfont icon-chongzhi"></i>赞助作者</li>
          <li><i class="iconfont icon-wanchengrenwu"></i>活动地址</li>
        </ul>
      </div>
      <div class="bottom">
        <span><i class="iconfont icon-shezhi"></i>设置</span>
        <span> | </span>
        <span>不欢迎讨论蕉流</span>
      </div>
    </div>
    <div class="rightFun">
      <ul class="rightFunUl">
        <li class="rightFunLi">
          <span>夜间模式</span>
          <input type="checkbox" id="nigth" class="Input night">
          <label for="nigth" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>侧栏背景</span>
          <input type="checkbox" id="leftGb" class="Input leftGb">
          <label for="leftGb" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>界面翻转</span>
          <input type="checkbox" id="turn" class="Input turn">
          <label for="turn" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>界面抽风</span>
          <input type="checkbox" id="crazy" class="Input crazy">
          <label for="crazy" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on1" class="Input ceshi">
          <label for="on1" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on2" class="Input ceshi">
          <label for="on2" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on3" class="Input ceshi">
          <label for="on3" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on4" class="Input ceshi">
          <label for="on4" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on5" class="Input ceshi">
          <label for="on5" class="green"></label>
        </li>
        <li class="rightFunLi">
          <span>测试按钮</span>
          <input type="checkbox" id="on6" class="Input ceshi">
          <label for="on6" class="green"></label>
        </li>
      </ul>
    </div>
  </div>
  <script src="./js/main.js"></script>
  <script src="./js/monkey.js"></script>
  <script>
    //少零补零，谁是零？？
    function add0(m) { return m < 10 ? '0' + m : m }
    //时间戳转化成时间格式
    function timeFormat(timestamp) {
      var time = new Date(timestamp);
      var year = time.getFullYear();
      var month = time.getMonth() + 1;
      var date = time.getDate();
      var hours = time.getHours();
      var minutes = time.getMinutes();
      var seconds = time.getSeconds();
      site_runtime.innerHTML = year + '年' + add0(month) + '月' + add0(date) + '日\n' + add0(hours) + '时' + add0(minutes) + '分' + add0(seconds) + '秒';
    }
    timeFormat(Date.now());
  </script>

</body>

</html>